*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.user img{
    
    height: 100px;
    width: 100px;
    margin-left: 40%;
    margin-top: 20%;
}
.user h3{
    
    margin-left: 38%;
    color:azure;
}

#submit{
    font-size: 16px;
    font-weight: 600;
    color: rgb(31, 30, 29);
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 166, 0);
}

#ldetails{
    text-align: center;
    font-size: small;
}



.nav{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgb(255, 166, 0);
}
.nav h3{
    margin-top: 15px;
    margin-right: 20px;
}

#todohead{
    cursor: pointer;
    color: rgb(76, 20, 129);
    padding-right: 40px;
    padding-left: 90px;
}

a:link,
a:visited{
    text-decoration: none;
    color: rgb(229, 238, 238);
}


#demo{
    background-color:rgb(216, 125, 6);
    border-radius: 30px;
    width: 700px;
    margin-left: 300px;
    margin-top: 30px;
    color: white;
    line-height: 2;
    padding-left: 20px;
}

@media (max-width: 920px){
    .demo{
        display: flex;
    }
    #demo{
        display: inline-block;
        margin-left: 0px;
        border-radius: 30px;
        width: 380px;
        margin-top: 30px;
        color: white;
        line-height: 2;
    }
}